@page
@model Back_Gestion.Pages.Product.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="card shadow mb-4">
  
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <img src="~/img/@Model.Produit.image" alt="@Model.Produit.libelle" style="width: 700px; height: 600px;" class="img-fluid">
            </div>
            <div class="col-md-6">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-primary" style="text-align:center">Fiche d'un Produit</h5>
                </div>
                <div class="card-body">
                    <p>
                        <div class="text font-weight-bold text-info text-uppercase mb-1">
                            Libelle :
                        </div>
                        @Html.DisplayFor(model => model.Produit.libelle)
                    </p>
                    <p>
                        <div class="text font-weight-bold text-info text-uppercase mb-1">
                            Description :
                        </div>
                        @Html.DisplayFor(model => model.Produit.description)
                    </p>
                    <p>
                        <div class="text font-weight-bold text-info text-uppercase mb-1">
                            Categorie :
                        </div>
                        @Html.DisplayFor(model => model.Produit.categorie.libelle)
                    </p>
                    <p>
                        <div class="text font-weight-bold text-info text-uppercase mb-1">
                            Prix en Jeton :
                        </div>
                        @Html.DisplayFor(model => model.Produit.prixjeton)
                    </p>
                    <p>
                        <div class="text font-weight-bold text-info text-uppercase mb-1">
                            Stock Restant :
                        </div>
                        @Html.DisplayFor(model => model.Produit.stock)
                    </p>
                    <p>
                        <div class="text font-weight-bold text-info text-uppercase mb-1">
                            Date de Publication :
                        </div>
                        @Html.DisplayFor(model => model.Produit.datepublication)
                    </p>
                    <br />
                    <p>
                        <div class="row">
                            <div class="col-md-9">
                                <a asp-page="./Index" class="btn btn-light btn-icon-split">
                                    <span class="icon text-gray-600">
                                        <i class="fas fa-arrow-left"></i>
                                    </span>
                                    <span class="text">Retour</span>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a asp-page="./Edit" asp-route-id="@Model.Produit.id" class="btn btn-warning btn-icon-split">
                                    <span class="icon text-gray-600">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                    <span class="text">Modifier</span>
                                </a>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


