@page
@model Back_Gestion.Pages.User.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 style="text-align:center" class="m-0 font-weight-bold text-primary">Fiche d'un Utilisateur</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Utilisateur.pseudo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Utilisateur.pseudo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Utilisateur.mdp)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Utilisateur.mdp)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Utilisateur.role)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Utilisateur.role)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Utilisateur.Jeton)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Utilisateur.Jeton.nombreJeton)
            </dd>
        </dl>
        <p>
            <div class="row">
                <div class="col-md-9">
                    <a asp-page="./Index" class="btn btn-light btn-icon-split">
                        <span class="icon text-gray-600">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">Retour</span>
                    </a>
                </div>
                <div class="col-md-2">
                    <a asp-page="./Edit" asp-route-id="@Model.Utilisateur.id" class="btn btn-warning btn-icon-split" style="float:right">
                        <span class="icon text-gray-600">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="text">Modifier</span>
                    </a>
                </div>
            </div>
        </p>
    </div>
</div>
