@page
@model Back_Gestion.Pages.Category.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Liste des Categories</h4>
        <br />
        <p>
            <a asp-page="Create">Ajouter une nouvelle Catégorie</a>
        </p>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Categorie[0].libelle)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Categorie)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.libelle)
                        </td>
                        <td style="text-align:center">
                            <a asp-page="./Edit" asp-route-id="@item.id" class="btn btn-info btn-icon-split">
                                <span class="text">Modifier</span>
                            </a>
                            <a asp-page="./Details" asp-route-id="@item.id" class="btn btn-warning btn-icon-split">
                                <span class="text">Détail</span>
                            </a>
                            <a asp-page="./Delete" asp-route-id="@item.id" class="btn btn-danger btn-icon-split">
                                <span class="text">Supprimer</span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
